<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory >
    
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>      
        <property name="hibernate.connection.username">sa</property>        
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost:9011/decide</property>   
        <property name="hibernate.show_sql">true</property>
        <!-- <property name="hibernate.format_sql">true</property> -->
  
        <mapping class="es.dabdm.decide.modelo.Comunidad" />
        <mapping class="es.dabdm.decide.modelo.ComunityManager" />
        <mapping class="es.dabdm.decide.modelo.Encuesta" />
        <mapping class="es.dabdm.decide.modelo.PosicionGPS" />
        <mapping class="es.dabdm.decide.modelo.Pregunta" />
        <mapping class="es.dabdm.decide.modelo.RespuestaPosible" />
        <mapping class="es.dabdm.decide.modelo.RespuestaUsuario" />
        <mapping class="es.dabdm.decide.modelo.Suscripcion" />
        <mapping class="es.dabdm.decide.modelo.Usuario" />
       
        
    </session-factory>
</hibernate-configuration>
